fastapi==0.95.1
filelock==3.13.1
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
jedi==0.19.1
matplotlib-inline==0.1.6
mysql-connector==2.2.9
nest-asyncio==1.5.8
npm==0.1.1
pydantic==1.10.7
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
uvicorn==0.22.0
virtualenv==20.24.7
websockets==11.0.2
